
.main {
  transition: all 0.3s ease-in-out;
  display:inline-block;
  width:90px;
  height:40px;
  line-height:40px;
  border:2px solid white;
  text-transform: capitalize;
  border-radius:2px;
  margin:5px;
  position:relative;
  overflow:hidden;   
}

.main:after {
    transition: all 0.3s ease-in-out;  
    content: "";
    display: block;
    background-color:white;
    margin-top:0px;
    height: 40px;
}

.main:hover:after{
    margin-top:-40px;
}
.main:hover{
    color:#ff9d5c;;
}
