.recipe  {
    font-family: monospace;
  font-size: 15px;
  text-decoration: none;

}

img {
  max-height: 100px;
  padding: 5px;
  /* margin: 5px 20px 5px 0; */
  display: inline-block;
  vertical-align: middle;
}
